<h2><%= @user.email %>'s Concert Reviews</h2>

<% @user.reviews.each do |review| %>
  <%=review.concert.name %> - <%=review.comment %> - <%=review.rating%> <br><br>
<% end %>

<h2>Best Concert Ever!</h2>
<h3><%= top_rated(@user) %></h3>


