<h1><%= @concert.name %></h1>
<h2>Artist: <%= @concert.artist %>
<h2>Venue: <%= @concert.venue %></h2>
<br><br>

<li><%= link_to "List of All Concert Tours", concerts_path %></li>
<li><%= link_to "Add a Concert Review", new_user_review_path(current_user) %></li>
