<h1><%= @concert.name %></h1>
<h2>Artist: <%= @concert.artist %>
<h2>Venue: <%= @concert.venue %></h2>
<br><br>

<h2>Ratings</h2>

<% @concert.reviews.last(5).each do |review| %>
  <%=review.concert.rating %><br><br>
<% end %>

<%= link_to "List of All Concert Tours", concerts_path %>

<%= link_to "Add a Concert Reviews", new_user_review_path(current_user) %>
