<h2> Review the Concert </h2>

  <%= form_for @review do |f| %>
 
    <%= f.label :concert_id %>
    <%= f.collection_select :concert_id, Concert.all, :id, :name %>
    <br><br>

    <%= f.label :comment %>
    <%= f.text_area :comment %>
    <br><br>
    
    <%= f.label :rank %>
    <%= f.select :rank, options_for_select(['good','better','best','best ever']),
       {:prompt => 'Was this the best concert ever?'} %>
   <br><br>
       
    <%= f.submit %>

   <% end %>